@import 'todo';
@import 'calculator';
@import 'shop';
@import 'counter';

body {
    margin:0;
    .section {
        width:100%;
        min-height:50vh;
        display:flex;
        flex-direction:column;
        background:#eee;
        border-top: 2px solid #000;
        .wrapper {
            margin-left:auto;
            margin-right:auto;
            .header {
                text-align:center;
                font-size:40px;
                line-height:40px;
            }
            
        }
        
    }
}